<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% block css %}{% endblock %}
    </head>

    <body>

        <header>
            
            <img src="{{ asset('img/image.jpg') }}" alt="" />
            
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                    <a href="{{ path('home') }}">
                        Accueil
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('film_acteur') }}">
                        Acteurs
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('film_realisateur') }}">
                        Réalisateurs
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('film_film') }}">
                        Films
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('film_search') }}">
                        Rechercher
                    </a>
                </li>
                <li class="list-group-item">
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}">
                            Logout
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}">
                            Login
                        </a>
                    {% endif %}
                </li>
                {% if app.user %}
                    <li class="list-group-item">
                        Salut {{ app.user.username|capitalize }} !
                    </li>
                {% endif %}
            </ul>
        </header>

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div class="container m-3">
            {% block content %}{% endblock %}
            {% block body %}{% endblock %}
        </div>

        <footer class="container-fluid">
            mentions légales
        </footer>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script>
            $(function() {
               $('select').select2();
            });
        </script>

        {% block js %}{% endblock %}
    </body>
</html>
